.chi_tiet_sach {
  &__rateIcon{
    
  }
  &__comment{
    &__item{
      padding: 12px;
      border: 1px solid #E6E6E6;
      //min-height: 63px;
    }
    &__textarea{
      border: 1px solid #F6F6F6;

      background: #F6F6F6;
    }
  }
  &__navbar{
    background: #FFF;
    box-shadow: 0px -10px 30px 0px rgba(0, 0, 0, 0.10);
    bottom: -103px;
    transition: all .3s ease;
    &.uk-open{
      bottom: 0;
    }
  }
  &__btn1{
    $x:14px;
    padding-left: #{$x};
    padding-right: calc(#{$x} - 2px);
    background-color: #FFFCE8 !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  &__btn2{
    border-radius: 10px;
    background: #DFDFDF;
    display: flex;
    width: var(----f1-number-32, 32px);
    height: var(----f1-number-32, 32px);
    padding: 8.04px 8px 7.96px 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
  }
  &__btnSelect{
    text-transform: inherit;
    padding-left: 14px;
    padding-right: 6px;
    background: #F6F6F6;
    >*{
      &:first-child{
        color: #000;
        @extend .fz-16;
        @extend .be-vietnam-pro-semibold;
        @extend .line-height-171;
      }
    }
  }
  &__btnDropnav{
    text-transform: inherit;
    padding-left: 14px;
    padding-right: 6px;
    background: #F6F6F6;
    >*{
      &:first-child{
        @extend .fz-16;
        @extend .be-vietnam-pro-semibold;
        color: #000;
        @extend .line-height-171;
      }
    }
    & ~ *{
      .uk-nav{
        >*{
          >*{

          }
        }
      }
    }
  }
  &__tab{
    >*{
      >a{
        color: #999;
        width: 218px;
        padding: 0;
        padding-bottom: 12px;
        text-transform: inherit;
        @extend .be-vietnam-pro-semibold;
        @extend .fz-16;
        @extend .line-height-175;
        &:hover{

        }
      }
      &.uk-active{
        >a{
          color: #000;
          border-color: #0CB0A7;
        }
      }
    }
  }
  &__table{
    border: 1px solid #e5e5e5;
    td{
      padding: 5px 0;
    }
    tr{

    }
  }
  &__label{
    padding: 0 7px;
    min-height: 30px;
    display: inline-flex;
    align-items: center;
    background: rgba(130, 209, 117, 0.20);
    color: #2BA117;
  }
  &__link1{
    color: #999 !important;
    &:hover{
      color: #666 !important;
    }
  }
  &__social{
    &__icon{
      width: 34px;
      height: 34px;
      background: var(--background);
      color: #fff !important;
      &:hover{

      }
    }
  }
}
.border-left{
  border-left: 1px solid #E6E6E6;
}