.sachdamua {
  &__card{
    padding: 20px;
    padding-top: 0;
    border-radius: 15px;
    border: 1px solid #E6E6E6;
  }
  &__navbar{
    .uk-navbar-item,
    .uk-navbar-toggle{
      @extend .min-height-72;
    }
    .uk-navbar-nav{
      >li{
        >a{
          @extend .min-height-72;
        }
      }
    }
  }
  &__btn{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 24px;
    text-transform: inherit;
    background: var(--brand-color);
  }
}