.background-FFF4D6{
  background: #FFF4D6;
}
.background-fff{
  background: #fff;
}
.background-F6F6F6{
  background: #F6F6F6;
}
.background-F0F0F0 {
  background: #F0F0F0;
}
.background-E8F6E1{
  background: #E8F6E1;
}
.background-E9F9FD{
  background: #E9F9FD;
}
.background-EDEBFC{
  background: #EDEBFC;
}
.background-064EFA{
  background: #064EFA;
}