.border-20{
  border-radius: 20px;
}
.border-16{
  border-radius: 16px;
}
.border-15{
  border-radius: 15px;
}
.border-14{
  border-radius: 14px;
}
.border-12{
  border-radius: 12px;
}
.border-10{
  border-radius: 10px;
}
.border-8{
  border-radius: 8px;
}
.border-6{
  border-radius: 6px;
}