.text-000{
  color: black;
}
.text-0C121C{
  color: #0C121C;
}
.text-9A96AA{
  color: #9A96AA;
}
.text-7E8299{
  color: #7E8299;
}
.text-A1A5B7{
  color: #A1A5B7;
}
.text-4B5563{
  color: #4B5563;
}
.text-3F4254{
  color: #3F4254;
}
.text-00A3FF{
  color: #00A3FF;
}
.text-F1416C{
  color: #F1416C;
}
.text-F19541{
  color: #F19541;
}
.text-966412{
  color: #966412;
}
.text-50CD89{
  color: #50CD89;
}