.line-height-120 {
  line-height: 1.20;
}
.line-height-122 {
  line-height: 1.22;
}
.line-height-123 {
  line-height: 1.23;
}
.line-height-125 {
  line-height: 1.25;
}
.line-height-126 {
  line-height: 1.26;
}
.line-height-128 {
  line-height: 1.28;
}
.line-height-133 {
  line-height: 1.33;
}
.line-height-138 {
  line-height: 1.38;
}
.line-height-140 {
  line-height: 1.40;
}
.line-height-141 {
  line-height: 1.41;
}
.line-height-142 {
  line-height: 1.42;
}
.line-height-150 {
  line-height: 1.50;
}
.line-height-155 {
  line-height: 1.55;
}
.line-height-158 {
  line-height: 1.58;
}
.line-height-166 {
  line-height: 1.66;
}
.line-height-170 {
  line-height: 1.70;
}
.line-height-171 {
  line-height: 1.71;
}
.line-height-175 {
  line-height: 1.75;
}
.line-height-195 {
  line-height: 1.95;
}
.line-height-200 {
  line-height: 2.00;
}
