.line-height-123 {
  line-height: 1.23;
}
.line-height-166 {
  line-height: 1.66;
}
.line-height-122 {
  line-height: 1.22;
}
.line-height-125 {
  line-height: 1.25;
}
.line-height-120 {
  line-height: 1.20;
}
.line-height-170 {
  line-height: 1.70;
}
.line-height-171 {
  line-height: 1.71;
}