@mixin line-clamp($i){
  display: -webkit-box;
  -webkit-line-clamp: #{$i};
  -webkit-box-orient: vertical;
  overflow: hidden;
}
$j: 1,2,3,4,5;
@each $i in $j {
  .line-clamp-#{$i}{
    @include line-clamp($i);
  }
}
.text-999{
  color: #999;
}
.text-0CB0A7{
  color: #0CB0A7;
}
.text-111827{
  color: #111827;
}
.text-911D21{
  color: #911D21;
}
.text-D83A40{
  color: #D83A40;
}
.text-BB252B{
  color: #BB252B;
}
.text-FF0000{
  color: #FF0000;
}
.text-000{
  color: black;
}
.text-0C121C{
  color: #0C121C;
}
.text-9A96AA{
  color: #9A96AA;
}
.text-7E8299{
  color: #7E8299;
}
.text-A1A5B7{
  color: #A1A5B7;
}
.text-4B5563{
  color: #4B5563;
}
.text-3F4254{
  color: #3F4254;
}
.text-00A3FF{
  color: #00A3FF;
}
.text-F1416C{
  color: #F1416C;
}
.text-F19541{
  color: #F19541;
}
.text-966412{
  color: #966412;
}
.text-50CD89{
  color: #50CD89;
}
.text-1F7411{
  color: #1F7411;
}
.text-2BA117{
  color: #2BA117;
}
.text-166534{
  color: #166534;
}
.text-5E5D5A{
  color: #5E5E5A;
}
.text-9F9595{
  color: #9F9595;
}
.text-444{
  color: #444;
}
.text-2A2928{
  color: #2A2928;
}
.text-FFD448{
  color: #FFD448;
}